@charset "utf-8";
/*=========
         自动义底部选项卡的大小
 ========*/
body{
	font-size:14px !important;
}
.icons{
	width:30px !important;
	height:30px !important;
}
.words{
	font-size:1.2rem !important;
}

.nav{
  height:70px;
}


